@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="Authorize-block">
    <h1>Funny Game</h1>
    <p class="lead" id="status">Угадайте число :-) </p>
    <p>
        <input type="text" placeholder="Число..." id="input-value" />
    </p>
    <p>
        <div class="btn btn-primary btn-large" id="btn-set-value">Отгадать &raquo;</div>
    </p>
    <h3>Log</h3>
    <ul id="log">
        <li>проверка</li>
    </ul>
</div>
<div class="jumbotron" id="NotAuthorize-block">
    <h1>Для начала игры вам необходимо авторизироваться!!!</h1>
</div>